<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id %>"><%= song.title %></a> <small>(by: <%= song.artist %>)</small></h3>
    <p>
      <%= song.url %>
    </p>
  </div>
<% end %>

<a href="/songs/new">Add a Song!</a>
